<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        ul{
            display: flex;
            background-color: antiquewhite;

        }
        li{
            margin-left: 60px;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <ul>
        <h1>Anudeep</h1>
    <li>Home</li>
    <li>About</li>
    <li>Contact Us</li>
    </ul>
</body>
</html>